# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.unlighthouse/localhost/473e/index.html
.unlighthouse/localhost/473e/assets/index.a00ed98e.js
.unlighthouse/localhost/473e/assets/index.ef53fc93.css
.unlighthouse/localhost/473e/assets/lighthouse.fbx
.unlighthouse/localhost/473e/assets/logo-dark.svg
.unlighthouse/localhost/473e/assets/logo-light.svg
.unlighthouse/localhost/473e/assets/logo.svg
.unlighthouse/localhost/473e/assets/payload.js
.unlighthouse/localhost/473e/reports/es/full-screenshot.jpeg
.unlighthouse/localhost/473e/reports/es/lighthouse.html
.unlighthouse/localhost/473e/reports/es/lighthouse.json
.unlighthouse/localhost/473e/reports/es/payload.html
.unlighthouse/localhost/473e/reports/es/screenshot.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/0.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/1.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/2.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/3.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/4.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/5.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/6.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/7.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/8.jpeg
.unlighthouse/localhost/473e/reports/es/__screenshot-thumbnails__/9.jpeg
