@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #0d1117;
  color: #fdfdfd;
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.burger {
  width: 22.5px;
  position: relative;
  pointer-events: none;

  &::after,
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &::after {
    top: -4px;
  }

  &::before {
    top: 4px;
  }
}

.burgerActive {
  &::after,
  &::before {
    background-color: black;
  }
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 1px;
  }
}
