@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
.box {
  border: 10px solid #fefefe;
  box-shadow: 0.1px 0.2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s 0.2s ease-in;
}
.box:hover {
  border: 5px solid #fefefe;
  transform: scale(1.01);
  /* box-shadow: 0.1px 0.2px 2px 1px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0.1px 0.1px 2px 2px rgba(0, 0, 0, 0.25); */
}

/* 500: '#264d27',
400: '#12a42a',
300: '#61c271',
200: '#b0e0b8',
100: '#ffffff' */